-
	var menu_items = ["About", "Portfolio", "Contacts", "Services"]

-
	var categoies_item = [
		{	image: "categ-photo1.jpg",
			title: "FIXED / SINGLE SPEED",
			description: "Are You ready for the 27.5 Revolution?",
		},
		{
			image: "categ-photo2.jpg",
			title: "PREMIUM SERIES",
			description: "Exclusive  Bike Components",
		},
		{
			image: "categ-photo3.jpg",
			title: "CITY BIKES",
			description: "Street Playground",
		}

	]

	var populars_item = [
		{
			image: "popular-1.jpg",
			brand: "FIXED GEAR",
			price: "$249.00"
		},
		{
			image: "popular-2.jpg",
			brand: "BIG BOY ULTRA",
			price: "$249.00"
		},
		{
			image: "popular-1.jpg",
			brand: "SANCHAEZ",
			price: "$249.00"
		}

	]